* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  color: white;
  height: 100svh;
  min-height: 1000px;
  text-align: center;
  background-image: url(5172658.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 25px 0;
  width: 100%;
  margin-bottom: 100px;
  background-color: #4495ff3f;
  display: flex;
  justify-content: center;
}

#image {
  max-height: 500px;
  display: none;
}

.search {
  margin-top: 25px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.search input {
  width: 250px;
  height: 25px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #c9c9c9;
  transition: border 300ms ease;
  transition: box-shadow 300ms ease;
}

.search input:hover {
  border: 2px solid #0077ff;
  box-shadow: 0px 0px 15px #0055b6;
}

.error {
  font-size: 16px;
  height: 24px;
  color: rgb(255, 211, 211);
  text-shadow: 0px 0px 8px red;
}

.buttons button {
  font-size: 14px;
  width: 80px;
  height: 40px;
  border-radius: 8px;
  background-color: #0077ff;
  border: 1px solid #0055b6;
  color: white;
  font-weight: bold;
  margin: 0 8px;
}

.buttons button:hover {
  background-color: #0062d1;
  cursor: pointer;
}

.buttons button:active {
  background-color: #0055b6;
}

.footer {
  margin-top: auto;
}

a {
  color: white;
}

a:visited {
  color: #c9c9c9;
}

a:hover {
  color: #449bff;
}

@media screen and (width<=700px) {
  #image {
    max-width: 95%;
  }
}
